# Ignore CSV, PyTorch, and NumPy files
*.csv
*.pt
*.npz

# Ignore Input_files and everything inside
Input_files/

# Ignore unused folder and everything inside
unused/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Optional: ignore VSCode and OS files
.vscode/
.DS_Store
